.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    height: 40vh;
    background-image: url("indir.jpg");
}
#ekran{
    margin-bottom: 50px;
    width: 80%;
    height: 30px;
}
.row{
    
}
button{
    padding:5px ;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.308);
    border: none;
}
button:hover{
    background-color: rgba(153, 241, 241, 0.527);
    color: white;
}